@model IEnumerable<Improvision.Models.InitialModels.word>


<div class="blackboard" style="position:relative;width:1000px;height:1000px;font-family:arial narrow">
    @foreach (var item in Model)
    {
        <div class="word" style="position:absolute;
                                 width:@item.Width;
                                 height:@item.Height;
                                 top:@item.Top;
                                 left:@item.Left;
                                 font-size:@item.FontSize;
                                 ">
            @item.text
        </div>

    }
</div>

